<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="css/bootstrap.css" rel="stylesheet" />
</head>

<body ng-app="OurStoreApp" ng-controller="HomeCtrl as home">

	<div ng-controller="ShoppingCartCtrl as cart">
		<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationCtrl as nav">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" ng-bind='home.storeName'></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="navbar-right" style="margin-top:10px;">
						<a style="color: #fff; font-size: 20px;">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							<span ng-show="!cart.hasItems()">Your cart is empty</span>
							<span ng-show="cart.hasItems()">
								[<span ng-bind="cart.itemsSelected.length"></span> items]
							<span ng-bind="cart.totalValue() | currency"></span>
							</span>
						</a>
					</div>
				</div>
				<!--/.navbar-collapse -->
			</div>
		</nav>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome, to the store!</h1>
				<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
				</p>
			</div>
		</div>


		<div class="container">


			<!-- Example row of columns -->
			<div class="row">
				<div class="col-sm-6">

					<div class="row" ng-controller="CatalogCtrl as catalog">
						<div class="col-md-4 col-sm-6" ng-repeat="prd in catalog.products">
							<h2>
					<span ng-bind='prd.name'></span>
					<span ng-bind='prd.price | currency'></span>
				</h2>
							<p ng-bind='prd.description'></p>
							<p>
								<button class="btn btn-default" role="button" ng-click='cart.addItem(prd, 1)'>
									Add To Cart <i class="glyphicon glyphicon-ok-circle"></i>
								</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Shopping Cart</h3>

					<table class="table">
						<thead>
							<tr>
								<td>Item</td>
								<td>Price</td>
								<td>Qty</td>
								<td>Total</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="prd in cart.itemsSelected">
								<td><span ng-bind="prd.name"></span>
								</td>
								<td><span ng-bind="prd.price | currency"></span>
								</td>
								<td>
									<input type="text" class="form-control" ng-model="prd.qty" />
								</td>
								<td><span ng-bind="prd.getTotal() | currency"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>



			<hr>

			<footer>
				<p>&copy; Company 2014</p>
			</footer>
		</div>
	</div>
	<!-- /container -->

	<script src="angular.js"></script>
	<script src="OurStore.js"></script>

</body>

</html>